.Profile {
    width: 70vw;

    .container {
        background-color: white;
        border-radius: 6px;
        padding: 8px 10px;

        margin-top: 15px;
        width: 100%;

        .info-row {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .elements {
                margin: 5px 10px;
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                    margin-left: 5px;
                }

                span,
                svg {
                    color: #405ee4;
                }
            }
        }

        .user-wrapper {
            display: flex;

            .left-column {
                width: 150px;

                div {
                    img {
                        border-radius: 50%;
                        width: 100%;
                    }
                }

                text-align: center;
                margin-right: 5px;
            }

            .right-column {
                position: relative;
                width: calc(100% - 150px);
                display: flex;
                flex-direction: column;

                input,
                select {
                    width: 200px;
                    margin: 6px;
                    padding: 5px 15px;

                    option {
                        color: black;
                    }
                }

                input[disabled],
                select[disabled] {
                    background-color: transparent;
                    border: none;
                    color: black;

                    appearance: none;

                }

            }
        }

        .edit-wrapper {
            display: flex;
            position: absolute;
            top: 5px;
            right: 5px;
            .edit {
                background: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }

}

.details {
    position: relative;

    h2 {
        font-size: 18px;
        color: #3457f0
    }

    .details-input-wrapper {
        display: flex;
        flex-wrap: wrap;

        >input {
            height: 25px;
            margin: 2px;
            border-radius: 6px;
            border: 1px solid lightgray;
            color: #526fee;
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
}