.Home {
    display: flex;
    width: 100vw;

    .column {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .smaller-column {
        width: 20vw;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            background-color: #fff;
            width: 90%;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 26px 0;
            box-shadow: 1px 10px 10px -4px rgba(99, 99, 99, 0.15);
            box-sizing: border-box;

            >* {
                margin: 5px 0;
            }


            hr {
                border: 1px solid #e4e4e4;
                width: 100%;
            }

            .image-container {
                width: 100px;
                height: 100px;


                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            h2 {
                color: #6464e6;
                font-weight: 600;
            }

            .job-title span {
                color: #999999;
            }
        }

        .buttons-container {
            display: flex;
            flex-direction: column;


            .container {
                display: flex;
                justify-content: space-between;
                margin: 5px 0;

                .text {
                    display: flex;
                    align-items: center;
                    margin-right: 8px;

                    svg {
                        margin-right: 5px;
                        color: #657290;
                    }
                }

                button {
                    border: 1px solid black;
                    background-color: white;
                    border-radius: 6px;
                    width: 45px;
                    cursor: pointer;
                }
            }
        }

        .option-containers {
            width: 90%;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            div {
                margin: 7px 0;
                display: flex;
                align-items: center;
                font-size: 18px;
                box-sizing: border-box;
                padding-left: 20px;
                cursor: pointer;

                svg {
                    margin-right: 15px;
                    color: #657290;
                    width: 30px;
                    height: 30px;
                }

            }
        }
    }

    .bigger-column {
        width: 70vw;

        .big-card {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 400px;

            .gradient-container {
                //background: #7b7bff;
                height: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                background: linear-gradient(0deg, rgba(#8686cf, 0.5) 0%, rgba(#c4c4ff, 0) 100%);
                > div {
                    margin-bottom: 30px;
                }
                >* {
                    width: 90%;
                    box-sizing: border-box;
                    padding-right: 10px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }

            .image-container {
                width: 35%;
                height: 100%;
                min-width: 400px;
                display: flex;
                align-items: flex-end;

                background-position: center;
                background-size: contain;

                color: white;

            }
        }

        .publication-container {
            width: 65%;
            background: white;

            box-sizing: border-box;
            padding: 0 20px;

            .post-container {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 15px;

                .small-image-container {
                    width: 100px;
                    height: 100px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .info-container {
                    width: calc(100% - 100px);
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;

                  


                }

            }

            .see-more {
                display: block;
                color: #6464e6;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
                cursor: pointer
            }


        }
        .author {
            display: flex;
            align-items: center;

            >* {
                margin: 0 4px;
            }

            .profile-image {
                width: 30px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

    }
}